body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    padding: 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86%;
    padding: 30px;
    /* border: 2px solid #f5f5f5; */
   
    font-size: 24px;
    color: #ff4081;
    font-weight: bold;
}

/* .options{
    align-items: center;
    justify-content: center;
} */

.card1 {
    width: 600px;
    height: 750px;
    background: white;
    border: 1px solid #9d9999;
    padding: 40px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    /* margin-bottom: 15px; */
    margin: 80px;
   
    position: relative;
   
    /* border: 2px solid transparent; */
}

.card {
    width: 430px;
    background: white;
    border: 1px solid #9d9999;
    padding: 25px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    margin-left: 55px;
   
   
    /* border: 2px solid transparent; */
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-left {
    display: flex;
    align-items: center;
}

.card-right {
    text-align: right;
}

.card.expanded {
    border-color: #ff4081;
    padding-bottom: 20px;
}

.card input[type="radio"] {
    margin-right: 20px;
}

.discount {
    background: #ff4081;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 10px;
}

.price {
    font-weight: bold;
    font-size: 18px;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
}

.options {
    display: none;
    margin-top: 10px;
    padding-left: 10%;

   
}

.expanded .options {
    display: block;
   padding-right: 20%;
}

.option-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    
}

select {
    padding: 7px;
    margin-left: 10px;
}

/* Ribbon for Most Popular */
.ribbon {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #ff4081;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.free-delivery {
    display: inline-block;
    color: #ff4081;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right:135px;
    margin-left: 60px;

   
}

.add-to-cart {
    width: 82%;
    background: #ff4081;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 50px;
}

.total-price {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2px;
    text-align: right;
    margin-left: 95px;
}

.powered-by {
    width: 78%;
    text-align: right;
    font-size: 12px;
    color: gray;
    margin-top: 10px;
    font-style: italic;
     margin-left: 60px;

}
